@import "assets/scss/base.scss";

.drop-down {
	--translate: 0.25em;

	position: absolute;
	top: 100%;
	left: 0;

	display: grid;

	max-height: 35vh;
	overflow: auto;

	min-width: 100%;
	background: $color-dark;
	border: 1px solid rgba($color-gray, 0.75);
	border-radius: 0.25em;
	box-shadow: 0px 0px 4px -5px rgba(39, 45, 58, 0.12);

	color: white;

	transform: translateY(var(--translate));
	transition: 200ms ease opacity, 200ms ease transform;
	z-index: 1;

	&:not(&--expanded) {
		--translate: 0em;

		opacity: 0;
		pointer-events: none;
	}

	&--upwards {
		--translate: calc(-100% - 0.25em);

		top: 0%;
	}

	&--upwards:not(&--expanded) {
		--translate: calc(-100% - 0em);
	}
}

.drop-down__option {
	border: unset;

	background: transparent;
	padding: 0.35rem 0.5rem;

	font-size: 14px;

	transition: 100ms ease font-weight, 200ms ease background-color, 200ms ease color;
	color: inherit;
	cursor: pointer;

	&:hover {
		background: rgba(255, 255, 255, 0.25);
	}

	&--selected {
		font-weight: 600;
	}
}
