@import "assets/scss/base.scss";

.selected-entries-window {
	--transform-x: -0.925em;
	--transform-y: 0.35em;

	position: absolute;
	top: calc(1px * var(--top));
	left: calc(1px * var(--left));

	// min-width: 1em;
	width: calc(1ch * var(--width));
	// max-width: 7.5em;

	transform: translate(var(--transform-x), var(--transform-y));
	transition: 200ms ease opacity, 200ms ease transform;

	z-index: 52;

	&::before {
		$size: 0.5em;

		content: "";

		position: absolute;
		top: -$size + 0.125em;
		left: $size;

		width: 0px;
		height: 0px;
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $size solid #565656;
	}

	&--hidden {
		--transform-y: 75%;

		opacity: 0;
		pointer-events: none;
	}

	&--selecting {
		user-select: none;
		pointer-events: none;
	}
}
