@import "~app/assets/scss/bundle.scss";

.field {
	display: grid;
	gap: 0.75em;

	min-width: var(--input-width, fit-content);

	cursor: text;
}

.field__label {
	@include InputLabel;
}

.field__icon {
	--icon-size: 1.25em;

	margin-right: 1em;
}

.field__appearance {
	display: flex;

	@include InputAppearance;
}

.field__input {
	$font-size: 1rem;

	all: unset;

	width: 100%;

	font-size: $font-size;
	font-weight: 500;

	// height: $font-size; // To ensure input has the same height as font-size.

	&::placeholder {}

	&:disabled {
		cursor: not-allowed;
	}

	resize: vertical;
}
