@import "~assets/scss/base.scss";

.comparison-table {
	max-width: 100%;
	margin: 1.5em;
	// overflow: auto;
}

.comparison-table > table {
	width: max-content;

	border-spacing: 0;
	border-radius: 0.25em;
	overflow: hidden;

	td, th {
		padding: 1em;
		background: rgba(white, 0.2);

		color: white;

		&:not(:last-child) {
			border-right: 2px dotted rgba(white, 0.5);
		}
	}

	thead {
		th {
			width: 25ch;
			border-bottom: 2px dotted rgba(white, 0.5);

			resize: horizontal;
			overflow: hidden;

			&:first-child {
				width: auto;
			}
		}

		// th:first-child {
			// background: transparent;
		// }
	}

	tbody {
		th {
			max-width: 5ch;
			overflow: hidden;

			color: $color-primary-text;

			text-align: left;
			text-overflow: ellipsis;
			text-decoration: underline;

			cursor: pointer;

			&:active {
				text-decoration: unset;
			}
		}

		tr:nth-child(odd) {
			td, th {
				background: rgba(white, 0.1);
			}
		}
	}
}
